# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Drizzle
# (migrations in db/ ARE committed)

# Inngest / cache
.cache
